<app-nav-menu></app-nav-menu>
<div class="w-full h-full">
    <div class="flex items-start p-6">        
        <div class="rounded-full bg-[#57FDDA] p-[2px]">
            <img src="{{ profileData?.picture }}" class="w-[30vw] rounded-full" alt="">   
        </div>
        <div class="pt-6 grid">
            <span class="text-black font-bold pl-6 text-lg dark:text-gray-200"> {{ profileData?.name }} </span>  
            <span class="text-gray-400 pl-6"> {{ profileData?.email }} </span>               
        </div> 
    </div>
    <div class="grid p-6">
        <span class="text-black font-bold text-2xl dark:text-gray-200">Settings</span>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg dark:bg-zinc-700 dark:border-gray-700">            
            <span class="text-black dark:text-gray-200"> Name </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg dark:bg-zinc-700 dark:border-gray-700">            
            <span class="text-black dark:text-gray-200"> Email </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:text-gray-200">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg dark:border-gray-700 dark:bg-zinc-700">            
            <span class="text-black dark:text-gray-200"> Account Settings </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>        
    </div>
    <div class="grid p-6">
        <span class="text-black font-bold text-2xl dark:text-gray-200">Security</span>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg dark:border-gray-700 dark:bg-zinc-700">            
            <span class="text-black"> Verify Email </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg">            
            <span class="text-black"> Change Password </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg">            
            <span class="text-black"> 2FA Authentication </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>        
    </div>
    <div class="grid p-6">
        <span class="text-black font-bold text-2xl">Privacity </span>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg">            
            <span class="text-black"> Preferences </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg">            
            <span class="text-black"> Address </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="bg-white border-2 border-gray-200 flex justify-between mt-6 p-4 rounded-lg">            
            <span class="text-black"> Phone </span>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button>
        </div>
        <div class="p-4">
            <button class="bg-red-600 w-full p-2 rounded-lg" (click)="logout()">
                <span class="text-white font-bold"> Logout </span>
            </button>
        </div>        
    </div>
</div>