<div class="w-full h-screen">
    <div class="text-black text-center grid justify-center pt-28 h-[80vh]">        
        <div class="flex flex-col h-[80vh] justify-between">            
            <img src="/assets/images/logo.png" alt="" class="w-60 pt-6">
            <div class="grid justify-center pb-12 w-60 self-end h-auto">
                <button [routerLink]="['/login']" class="bg-[#000000] w-60 p-2 mt-6 rounded-lg font-bold sombrita text-white">
                    Login 
                </button>
                <button [routerLink]="['/signup']" class="border-2 border-neutral-800 p-2 mt-6 rounded-lg font-bold">
                    Sign Up
                </button>
            </div>            
        </div>        
    </div>
     <div class="grid justify-center absolute inset-x-0 bottom-0 h-16">
        <span class="font-bold text-black underline">Continue as a guest</span>
    </div>
</div>
  